<li class="mr-3">
  <% if link == current_page.url %>
  <a class="inline-block py-2 px-4 text-gray-900 font-bold no-underline"
  <% else %>
  <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4"
  <% end %>
    href="<%= link %>"><%= text %></a>
</li>
