<% wrap_layout :layout do %>
  <%# <p><span class="text-base md:text-sm text-teal-500 font-bold">&lt;<span> <a href="/"
        class="text-base md:text-sm text-teal-500 font-bold no-underline hover:underline">BACK TO BLOG</a></p> %>

  <div id="article">
    <%= partial 'layouts/article', locals: {article: current_article} %>
  </div>

  <!--Disqus Comments--
  <div id="disqus_thread"></div>
  <script type="text/javascript" src="http://disqus.com/forums/tracefunc/embed.js"></script>
  <noscript>
    <a href="http://tracefunc.disqus.com/?url=ref">View the discussion thread</a>
  </noscript>
  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  <!--/Disqus Comments-->
<% end %>
