<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= ['set_trace_func', current_article&.title, current_page.metadata.dig(:page, :title)].compact.join(' - ') %></title>
    <meta name="author" content="Jamie Macey">
    <meta name="description" content="Personal Blog and Knowledge Base">
    <meta name="keywords" content="ruby,rails,developer,technical,blog">

    <link rel="stylesheet" href="/styles.css">
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/index.xml", title: "Atom Feed" %>

    <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
    <script type='text/javascript' src="/assets/prettify/prettify.js"></script>
    <script type='text/javascript' src="/application.js"></script>
  </head>

  <body class="bg-gray-100 font-sans leading-normal tracking-normal">

    <nav id="header" class="fixed w-full z-10 top-0">
      <div id="progress" class="h-1 z-20 top-0"
        style="background:linear-gradient(to right, #4dc0b5 var(--scroll), transparent 0);"></div>

      <div class="w-full md:max-w-4xl mx-auto flex flex-wrap items-center justify-between mt-0 py-3">
        <h2 class="pl-4">
          <a class="text-gray-900 text-base no-underline hover:no-underline font-extrabold text-xl" href="/">
            set_trace_func
          </a>
        </h2>

        <div class="block lg:hidden pr-4">
          <button id="nav-toggle"
            class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-teal-500 appearance-none focus:outline-none">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <title>Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
          </button>
        </div>

        <div
          class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-gray-100 md:bg-transparent z-20"
          id="nav-content">
          <ul class="list-reset lg:flex justify-end flex-1 items-center">
            <%= partial "layouts/nav_content_link", locals: {text: 'Archive', link: '/archive/'} %>
            <%= partial "layouts/nav_content_link", locals: {text: 'Tags', link: '/tags/'} %>
            <%= partial "layouts/nav_content_link", locals: {text: 'Projects', link: '/projects/'} %>
            <%= partial "layouts/nav_content_link", locals: {text: 'Notes', link: '/notes/'} %>
          </ul>
        </div>
      </div>
    </nav>

    <!--Container-->
    <div class="container w-full md:max-w-3xl mx-auto pt-20 pb-10">

      <div id="content" class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal" style="font-family:Georgia,serif;">
        <%= yield %>
      </div>

      <!--Next & Prev Links-->
      <% if current_article %>
        <% next_article = current_article.article_next %>
        <% prev_article = current_article.article_previous %>
        <div class="font-sans flex justify-between content-center px-4 pb-12">
          <div class="text-left">
            <% if prev_article %>
              <span class="text-xs md:text-sm font-normal text-gray-600">&lt; Previous Post</span><br>
              <p><a href="<%= prev_article.url %>" class="break-normal text-base md:text-sm text-teal-500 font-bold no-underline hover:underline">
                <%= prev_article.title %>
              </a></p>
            <% end %>
          </div>
          <div class="text-right">
            <% if next_article %>
              <span class="text-xs md:text-sm font-normal text-gray-600">Next Post &gt;</span><br>
              <p><a href="<%= next_article.url %>" class="break-normal text-base md:text-sm text-teal-500 font-bold no-underline hover:underline">
                <%= next_article.title %>
              </a></p>
            <% end %>
          </div>
        </div>
      <% end %>
      <!--/Next & Prev Links-->

    </div>
    <!--/container-->

    <footer class="bg-white border-t border-gray-400 shadow">
      <div class="container max-w-4xl mx-auto flex py-8">

        <div class="w-full mx-auto flex flex-wrap justify-between">
          <div class="flex w-full md:w-1/5">
            <div class="px-8 mt-10">
              <img class="rounded-full mr-4" src="/assets/memoji.png" alt="Avatar of Author">
            </div>
          </div>
          <div class="flex w-full md:w-3/5">
            <div class="px-8">
              <h3 class="font-bold text-gray-900">About</h3>
              <p class="my-4 text-gray-600 text-sm">
                Jamie is a senior software engineer with over 15 years experience
                in the Ruby and Rails ecosystems, largely on the back-end.
              </p>
              <p class="my-4 text-gray-600 text-sm">
                Husband, father, gamer, and all-around geek. Ask about my latest
                3d print, or toy software project.
              </p>
              <p class="text-gray-500 text-xs md:text-base">Minimal Blog Tailwind CSS template by <a
                class="text-teal-400 no-underline hover:underline"
                href="https://www.tailwindtoolbox.com">TailwindToolbox.com</a>
              </p>
            </div>
          </div>
          <div class="flex flex-row-reverse w-full md:w-1/5">
            <div class="px-8">
              <h3 class="font-bold text-gray-900">&nbsp;</h3>
              <ul class="list-reset items-center text-sm pt-3">
                <li>
                  <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
                    href="https://github.com/jamie/">Github</a>
                </li>
                <li>
                  <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
                    href="/static/jamie-macey/">Resume</a>
                </li>
                <li>
                  <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
                    href="https://www.linkedin.com/in/jamiemacey/">Linkedin</a>
                </li>
                <li>
                  <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1"
                    href="mailto:jamie.blog@tracefunc.com">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>



      </div>
    </footer>

    <script>
      /* Progress bar */
      //Source: https://alligator.io/js/progress-bar-javascript-css-variables/
      var h = document.documentElement,
        b = document.body,
        st = 'scrollTop',
        sh = 'scrollHeight',
        progress = document.querySelector('#progress'),
        scroll;
      var scrollpos = window.scrollY;
      var header = document.getElementById("header");
      var navcontent = document.getElementById("nav-content");

      document.addEventListener('scroll', function () {
        /*Refresh scroll % width*/
        scroll = (h[st] || b[st]) / ((h[sh] || b[sh]) - h.clientHeight) * 100;
        progress.style.setProperty('--scroll', scroll + '%');

        /*Apply classes for slide in bar*/
        scrollpos = window.scrollY;

        if (scrollpos > 10) {
          header.classList.add("bg-white");
          header.classList.add("shadow");
          navcontent.classList.remove("bg-gray-100");
          navcontent.classList.add("bg-white");
        }
        else {
          header.classList.remove("bg-white");
          header.classList.remove("shadow");
          navcontent.classList.remove("bg-white");
          navcontent.classList.add("bg-gray-100");

        }

      });

      //Javascript to toggle the menu
      document.getElementById('nav-toggle').onclick = function () {
        document.getElementById("nav-content").classList.toggle("hidden");
      }
    </script>

    <script type='text/javascript'>
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type='text/javascript'>
      try {
        var pageTracker = _gat._getTracker("UA-11614297-1");
        pageTracker._setDomainName(".tracefunc.com");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
