@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply some styles globally to markdown-converted content */
p a { @apply text-blue-600 underline; }
a.wikilink { @apply text-orange-600; }

#content p {
  @apply my-4;
}
p code {
  @apply text-base;
  @apply px-1;
  color: #369;
  border: 1px solid #ccc;
}

#content h1 { @apply font-bold font-sans break-normal text-gray-800 pt-4 pb-2 text-3xl; }
#content h2 { @apply font-bold font-sans break-normal text-gray-800 pt-4 pb-2 text-3xl; }
#content h3 { @apply font-bold font-sans break-normal text-gray-800 pt-2 pb-2 text-2xl; }
#content h4 { @apply font-bold font-sans break-normal text-gray-600 pt-1 pb-2 text-xl; }
#content ul { @apply list-disc list-inside; }

/* Prettify.js */
.pln { color: #000 }  /* plain text */

@media screen {
  .str { color: #080 }  /* string content */
  .kwd { color: #008 }  /* a keyword */
  .com { color: #800 }  /* a comment */
  .typ { color: #606 }  /* a type name */
  .lit { color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #660 }
  .tag { color: #008 }  /* a markup tag name */
  .atn { color: #606 }  /* a markup attribute name */
  .atv { color: #080 }  /* a markup attribute value */
  .dec, .var { color: #606 }  /* a declaration; a variable name */
  .fun { color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: #060 }
}

pre.prettyprint { @apply text-base ml-10; }
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
ol.linenums { list-style-type: decimal; }
/* end Prettify.js */